<MarketplaceDetails>
  <SmallAppTile>store_img_300.png</SmallAppTile>
  <ScreenShots>btprint_main_start_bt_and_file_selected.png;btprint_btdevicelist_selected.png;btprint_demolist.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>btprint_main_start_bt_and_file_selected_1280.png;btprint_demolist_1280.png;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>btprint_main_start_bt_and_file_selected_720.png;btprint_demolist_720.png;;;;;;;</ScreenShots720P>
</MarketplaceDetails>